@model Urun
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h2>Urun Güncelleme</h2>
            @using (Html.BeginForm("guncelleUrun", "Urun", FormMethod.Post, new { @class = "form" }))
            {
                <div class="form-group">
                    @Html.HiddenFor(a => a.UrunID)
                </div>
                <div class="form-group">
                    @Html.HiddenFor(a => a.KategoriID)
                </div>
                <div class="form-group">
                    <label for="UrunAdi">Urun Adi</label>
                    @Html.TextBoxFor(a => a.UrunAdi, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="UrunFiyati">Urun Fiyati</label>
                    @Html.TextBoxFor(a => a.UrunFİyati, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="UrunStokAdeti">Urun Stok Adeti</label>
                    @Html.TextBoxFor(a => a.UrunStokAdeti, new { @class = "form-control" })
                </div>

                <input class="btn btn-primary mt-3" type="submit" value="Urun Güncelle" />
            }
        </div>
    </div>
</div>
